/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	
    margin: 0;	
    padding: 0;	
    border: 0;	
    font-size: 100%;	
    font: inherit;	
    vertical-align: baseline;}
    
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	
    display: block;}
    
    body {	
    line-height: 1.5;
    }
    
    ol, ul {	
    list-style: none;
    }
    
    blockquote, q {	
    quotes: none;
    }
    
    blockquote:before, blockquote:after,q:before, q:after {	
    content: '';	
    content: none;
    }
    
    table {	
    border-collapse: collapse;	border-spacing: 0;
    }	 
    /* ----------------------------------------------------- end reset */

  /* --------------------------------------------------------- VARIABLES------ */

  :root {
    --darkBlue: #181D31;
    --lightGreen: #678983;
    --darkBeige: #E6DDC4;
    --lightBeige: #F0E9D2;
  }

  /* --------------------------------------------------------- MAIN ---------- */

  body {
    color: var(--lightBeige);
    font-size: 1.5em;
    font-family: Helvetica, Arial, sans-serif;
    background: var(--darkBlue);
}

.wrapper {
    width: 90%;
    max-width: 1900px;
    min-width: 400px;
    margin: 50px auto 20px auto;
    padding: 10px;
    border: 2px solid var(--lightGreen);
    border-radius: 10px;
    /* background-color: rgba(36, 38, 49, 0.6); */
}

  /* --------------------------------------------------------- BASIC MODIFIERS */

  h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 2.0em;
  }
  
  h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 1.5em;
  }
  
  h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.0em;
    color: var(--lightGreen);
  }
  
  p, li {
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 0.9em;
    color: var(--lightBeige);
  }
  
  .pad-bottom {
      padding-bottom: 20px;
  }
    
  a {
    color: var(--lightGreen);
  }
  
  a:hover {
    color: var(--lightBeige);
  }

  .float-left {
    float:left
  }

  .float-right {
    float: right;
  }

  /* --------------------------------------------------------- SPECIAL MODIFIERS */

  /* Specific to main name/title on index */
  .name-title {
    color: var(--lightGreen);
    font-family: 'Nothing You Could Do', Verdana, Tahoma, sans-serif;
    font-size: 4em;
    font-weight: normal;
  }

  @media only screen and (min-width: 1200px) and (orientation: landscape) {
    .name-title {
      font-size: 5em;
      font-weight: normal;
    }
  }

  /* creates border for div sections */
  .separator {
    width: 80%;
    height: 10px;
    border-bottom: 2px solid var(--lightGreen);
    margin: 0px auto;
  }

  .italic {
    font-style: italic;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }


  /* --------------------------------------------------------- MOBILE NAVIGATION ---- */

  .main-nav {
    display: none;
  }

  .mobileNav {
    display: block;
    overflow: hidden;
    position: fixed;
    top: 0px;
    height: 48px;
    width: 100%;
    margin: 0 auto;
    background-color: var(--darkBlue);
    font-size: 0.7em;
    letter-spacing: 0.2em;
    font-family: Tahoma, Verdana, sans-serif;
    font-weight: bold;
    box-shadow: 0px 1px 2px 0px #5b6a6b;
    z-index: 1;
  }

  .mobileNav a {
    float: left;
    padding: 14px 16px;
    text-decoration: none;
    transition: background 120ms ease-in-out;
  }

  .mobileNav img {
      padding: 0.5% 0.5% 0% 0.5%;
      max-width: 80px;
      height: auto;
}

  .dropdown {
      float: left;
      overflow: hidden;
  }

  .dropbtn {
      font-size: 16px;
      border: none;
      outline: none;
      /* padding: 14px 16px; */
      background-color: inherit;
      font-family: inherit;
      margin: 0;
  }

  .mobileNav a:hover, .dropdown:hover {
    cursor: pointer;
    background: #383838;
    transition: all .3s ease;
  }
  /* ADD ONCLICK JS */

  .dropdownContent {
      display: none;
      position: absolute;
      /* color: rgba(10, 0, 20, 0.8); */
      min-width: 160px;
      /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
      box-shadow: 1px 1px 2px 0px #536162;

      /* z-index: 1; */
      /* border-right: 1px solid white;
      border-bottom: 1px solid white; */
  }

  .dropdownContent a {
    float: none;
    color: white;
    background-color: #536162;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdownContent a:hover {
    color: #df8943;
    background-color: #424642;
  }

  /* show dropdown menu on hover */
  .dropdown:hover .dropdownContent {
    display: block;
  }

  /* blank anchor tags */
  a.anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
  }

  /* ------------------------------------------------- DESKTOP NAV ------------------- */

  @media screen and (min-width: 768px) {
    .mobileNav {
        display: none;
    }

    .main-nav {
      display: block;
      position: fixed;
      height: 48px;
      width: 100%;
      top: 0;
      background-color: var(--darkBlue);
      list-style-type: none;
      z-index: 1;
    }

    .main-nav li {
      float: left;
      display: inline;
      margin: 0 20px;
    }

    .main-nav a {
      display: inline-block;
      text-decoration: none;
      padding: 10px;
      transition: background 120ms ease-in-out;
      border-radius: 5px;
    }

    .main-nav a:hover {
      background-color: var(--darkBeige);
      color: var(--darkBlue);
    }
  }

  /* --------------------------------------------------------- HOME PAGE ----- */

  #aboutMe-container {
    text-align: center;
    max-width: 1500px;
    margin: 0px auto;
    display: grid;
    grid-template-columns:auto auto auto auto;
    grid-template-rows: auto auto auto;
  }

  #aboutTop {
    width: auto;
    grid-column: 1 / span 4;
    grid-row: 1 / span 1;
  }

  #aboutLeft {
    max-width: 700px;
    height: auto;
    margin: auto auto;
    padding: 20px 0px;
    grid-column: 1 / span 4;
    grid-row: 2 / span 1;
  }

  #aboutRight {
    display: none;
  }

  #aboutBottom {
    width: auto;
    padding: 5px 20px;
    grid-column: 1 / span 4;
    grid-row: 3 / span 1;
  }

  #portrait {
    display: none;
  }

  /* --------------------------------------- MEDIA QUERIES FOR ABOUT ME */
  @media only screen and (min-width: 1200px) and (orientation: landscape) {
    #aboutLeft {
      grid-column: 1 / span 2;
      grid-row: 2 / span 1;
    }

    #aboutRight {
      display: block;
      max-width: 700px;
      height: auto;
      margin: auto auto;
      padding: 20px 0px;
      grid-column: 3 / span 2;
      grid-row: 2 / span 1;
    }

    #portrait {
      display: block;
      float: left;
      margin: 0px 40px 0px auto;
      width: 100%;
      height: auto;
      max-width: 22em;
      border-radius: 20%;
      -webkit-box-shadow:
        10px 8px var(--lightGreen),
        20px 16px var(--darkBeige),
        30px 24px var(--lightBeige);
      box-shadow:
        10px 8px var(--lightGreen),
        20px 16px var(--darkBeige),
        30px 24px var(--lightBeige);
    }
  }
  
  /* --------------------------------------------------------- PROJECTS ----- */

  #projects-container {
    text-align: center;
    margin: 0px auto;
    padding-top: 20px;
  }

  .button-value {
    border: 2px solid var(--lightGreen);
    padding: 1em 2.2em;
    border-radius: 3em;
    background-color: transparent;
    color: var(--darkBeige);
    cursor: pointer;
  }

  .active {
    background-color: var(--lightGreen);
    color: var(--darkBlue);
  }

  #projects {
    display: grid;
    grid-template-columns: auto;
    column-gap: 1em;
    padding: 2em 0;
  }

  .card {
    background-color:rgba(45, 48, 93, 0.246);
    max-width: 40em;
    margin-top: 1em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.08);
  }

  .card:hover {
    background-color: rgba(65, 70, 131, 0.459);
  }

  .image-container {
    text-align: center;
  }

  img {
    max-width: 100%;
    object-fit: contain;
    height: 15em;
  }

  .myImg {
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
    background: black;
    width: 65%;
    height: auto;
  }
  
  .myImg:hover {
    -webkit-filter: brightness(60%);
    filter: brightness(60%);
  }

  .hide {
    display: none;
  }

/* --------------------------------------------------------- MEDIA QUERIES FOR PROJECTS */
  @media only screen and (min-width: 1080px) and (orientation: landscape) {
    #projects {
      display: grid;
      grid-template-columns: auto auto;
      column-gap: 1em;
      padding: 2em 0;
    }
  }

  /* -------------------------------------------------------- CONTACT ------ */
  .contact {
    text-align: center;
    margin: 10px 0;
  }

  /* --------------------------------------------------------- FOOTER -------- */
  footer {
    text-align: center;
    font-size: 0.6em;
  }
