/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	
  margin: 0;	
  padding: 0;	
  border: 0;	
  font-size: 100%;	
  font: inherit;	
  vertical-align: baseline;}
  
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	
  display: block;}
  
  body {	
  line-height: 1.5;
  }
  
  ol, ul {	
  list-style: none;
  }
  
  blockquote, q {	
  quotes: none;
  }
  
  blockquote:before, blockquote:after,q:before, q:after {	
  content: '';	
  content: none;
  }
  
  table {	
  border-collapse: collapse;	border-spacing: 0;
  }	 
  /* end reset*/


  /* NOTES/COLORS

  Dark Gray #222831
  Mid Gray #393E46
  Yellow #FFD369
  Cream/white #EEEEEE

  OR

  White       #F3F4ED
  Light Grey  #536162
  Dark Grey   #424642
  Orange      #C06014
  
  
  
  */

                                      /* MAIN */

body {
    color: white;
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
    background: black url(img/pexels-lorenzo-242236-black.jpg) no-repeat fixed top center;
}

.wrapper {
    width: 90%;
    max-width: 1900px;
    min-width: 400px;
    margin: 20px auto;
    padding: 10px;
    border: 2px solid rgb(98, 98, 98);
    border-radius: 10px;
    background-color: rgba(36, 38, 49, 0.6);
}

                                      /* BASIC MODIFIERS */

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.0em;
}

h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
}

h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.0em;
}

p {
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 0.9em;
  color: rgb(161, 161, 161);
}

.name-title {
  color: white;
  font-family: 'Nothing You Could Do', Verdana, Tahoma, sans-serif;
  font-size: 36px;
  font-weight: normal;
}

.pad-bottom {
    padding-bottom: 20px;
}

.small-butt {
  padding-bottom: 6px;
}

.small {
    font-size: 0.7em;
}

.h2-small {
    font-size: 1.0em;
}

.center {
    text-align: center;
}

a {
  color: white;
}

a:hover {
  color: #bc8ef8;
}

.display-none {
  display: none;
}

                                        /* NAVIGATION */

.main-nav {
  display: none;
}

/* Navbar container */
.mobileNav {
  display: block;
  overflow: hidden;
  width: 100%;
  margin: 2px auto;
  background-color: rgba(114, 20, 207, 0.8);
  font-size: 0.7em;
  letter-spacing: 0.2em;
  font-family: Tahoma, Verdana, sans-serif;
  font-weight: bold;
  border-bottom: 1px solid white;
}

.mobileNav h1 {
  float: right;
  color: white;
  font-family: 'Nothing You Could Do', Verdana, Tahoma, sans-serif;
  font-size: 36px;
  font-weight: normal;
  margin: 6% 15px;
}

/* Links inside the navbar */
.mobileNav a {
  float: left;
  padding: 14px 16px;
  text-decoration: none;
  transition: background 120ms ease-in-out;
}

.mobileNav img {
  padding: 0.5% 0.5% 0% 0.5%;
  max-width: 80px;
  height: auto;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.mobileNav a:hover, .dropdown:hover .dropbtn {
  cursor: pointer;
  background: #1b2049;
  transition: all .3s ease;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  color: rgba(10, 0, 20, 0.8);
  background-color: rgba(10, 0, 20, 0.8);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: white;
  background-color: rgba(10, 0, 20, 0.8);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #1b2049;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


                                        /* HOME PAGE */

.container {
  display: grid;
  grid-template-columns: 3fr;
  grid-template-rows: auto;
}

#item-one {
  /* border: 1px solid red; */
  margin: 2px 2px;
  padding: 2px 10px;
  grid-column: 1 / span 3;
  grid-row: 2 / span 1;
}

#item-two {
  /* border-left: 1px solid blue; */
  /* border: 1px solid blue; */
  grid-column: 1 / span 3;
  grid-row: 1 / span 1;
}

/* #item-two img {
  border-radius: 5px;
} */

#portrait {
    display: block;
    margin: 0px auto;
    /* margin-left: 10px; */
    width: 100%;
    height: auto;
    max-width: 340px;
    border-radius: 20px;
}   

#item-one ul {
  color: rgba(165, 165, 165, 1.0);
}

                                          /* WEB DEV PAGE */

.web-dev-show {
  padding-bottom: 30px;
}

/* VIDEO PAGE */

iframe {
  width: 100%;
}

                                          /* CONTACT */

.contact h2 {
  font-size: 1.2em;
}

.contact a {
color: rgb(193, 164, 226);
padding: 10px 0px;

}

.contact a:hover, a:active {
  /* color: rgb(101, 53, 155); */
  color: rgb(120, 119, 160);
}

                                                
                                            /* JAVASCRIPT ELEMENT STYLES */

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {
    opacity: 0.7;
  }
  
  .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
  }
  
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1500px;
  }
  
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1500px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  .modal-content,
  #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {
      transform: scale(0)
    }
    to {
      transform: scale(1)
    }
  }
  
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 700px) {
    .modal-content {
      width: 100%;
    }
  }



                                                  /* MEDIA QUERIES */

/* DESKTOP - SMALL */

@media screen and (min-width: 1080px) and (max-width: 1380px){

  .container {
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: auto;
  }
  
  #item-one {
    /* border: 1px solid red; */
    margin: 2px 2px;
    padding: 2px 10px;
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
  }
  
  #item-two {
    /* border-left: 1px solid blue; */
    /* border: 1px solid blue; */
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
  }
  
  #portrait {
      display: block;
      margin: 0px auto;
      /* margin-left: 10px; */
      width: 100%;
      height: auto;
      max-width: 340px;
  }   
  
  #item-one ul {
    color: rgba(165, 165, 165, 1.0);
  }

  .navigation {
    display: none;
  }

  .main-nav {
   display: block;
  }

  nav {
    width: 95%;
    margin: 2px auto;
    overflow: hidden;
    background-color: rgba(10, 0, 20, 0.8);
    font-size: 0.7em;
    letter-spacing: 0.2em;
    font-family: Tahoma, Verdana, sans-serif;
    font-weight: bold;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
  }

  nav a {
      float: right;
      color: white;
      background: rgba(10, 0, 20, 0);
      text-decoration: none;
      padding: 31px 30px;
      /* border-right: 2px solid rgba(255, 255, 255, 0.603); */
      border-left: 2px solid rgba(255, 255, 255, 0.603);
      border-bottom: none;
      transition: background 120ms ease-in-out;
  }
        
  nav a:hover, .main-navigation a:focus {
      background: #1b2049;
      /* border-bottom: 2px solid white; */
      /* top: 2px; */
  }

  .nav-left {
      float: left;
      margin-left: 1px;
  }

  /* nav h1 {
    font-family: 'Nothing You Could Do', Verdana, Tahoma, sans-serif;
    font-weight: normal;
    padding-left: 6px;
    padding-top: 14px;
    float: right;
  } */

  .main-nav h1 {
    float: right;
    color: white;
    font-family: 'Nothing You Could Do', Verdana, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: normal;
    margin: 20px 4px 10px 0px;
  }

  .nav-left img {
    max-width: 80px;
    height: auto;
  }
}

  /* DESKTOP - FULL */

@media screen and (min-width: 1381px) {

  .container {
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: auto;
  }
  
  #item-one {
    /* border: 1px solid red; */
    margin: 2px 2px;
    padding: 2px 10px;
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
  }
  
  #item-two {
    /* border-left: 1px solid blue; */
    /* border: 1px solid blue; */
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
  }
  
  #portrait {
      display: block;
      margin: 0px auto;
      /* margin-left: 10px; */
      width: 100%;
      height: auto;
      max-width: 340px;
  }   
  
  #item-one ul {
    color: rgba(165, 165, 165, 1.0);
  }

  .navigation {
    display: none;
  }

  .main-nav {
    display: block;
  }

  nav {
    width: 95%;
    margin: 2px auto;
    overflow: hidden;
    background-color: rgba(10, 0, 20, 0.8);
    font-size: 1.0em;
    letter-spacing: 0.2em;
    font-family: Tahoma, Verdana, sans-serif;
    font-weight: bold;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
  }

  nav a {
    float: right;
    color: white;
    background: rgba(10, 0, 20, 0);
    text-decoration: none;
    padding: 30px 30px;
    /* border-right: 2px solid rgba(255, 255, 255, 0.603); */
    border-left: 2px solid rgba(255, 255, 255, 0.603);
    border-bottom: none;
    transition: background 120ms ease-in-out;
  }
      
  nav a:hover, .main-navigation a:focus {
    background: #1b2049;
    color: white;
    /* border-bottom: 2px solid white; */
    /* top: 2px; */
  }

  .nav-left {
    float: left;
    margin-left: 10px;
  }

  /* nav h1 {
  font-family: 'Nothing You Could Do', Verdana, Tahoma, sans-serif;
  font-weight: normal;
  padding-left: 0px;
  padding-top: 14px;
  float: right;
  } */

  .main-nav h1 {
    float: right;
    color: white;
    font-family: 'Nothing You Could Do', Verdana, Tahoma, sans-serif;
    font-size: 36px;
    font-weight: normal;
    margin: 18px 0px 0px 5px;
  }

  .nav-left img {
    margin-top: 3.5px;
    max-width: 80px;
    height: auto;
  }
}



                                                    /* FOOTER */

footer {
    font-size: 0.5em;
    color: gray;
    position: relative;
    padding-top: 10px;
    bottom: 5px;
    left: 5px;
    text-align: center;
}
